[defaults]
roles_path = roles
inventory = inventory/hosts.yml
pipelining = True
host_key_checking = False

[privilege_escalation]
become_method = sudo
become_ask_pass = False
become_flags = -H -S
become_exe = sudo.ws
